# ignore juptyer notebook checkpoint files
.ipynb_checkpoints/

# Data files
data/processed/*.txt
data/openwebtext/

# Model files
models/**/*.pkl
models/**/*.pth
models/**/*.pt

# Logs
logs/*.csv
logs/*.log

# Python
__pycache__/
*.pyc
*.pyo
**/__pycache__

# Virtual environments
venv/
.venv/
env/
ENV/

#IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Training logs and output
logs/